@using System.Threading;

<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @{
        if (TempData["ShowAlert"] != null)
        {
            <script>
                swal("Uspješno preuzimanje narudžbe!", "Uspješno ste preuzeli narudžbu. Korisnik će o tome biti obaviješten putem maila.", "success");
                document.getElementById("btnUsluzi").disabled = true;
            </script>
        }
    }
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Raleway');
        /* Set the size of the div element that contains the map */

        body {
            background-color: #0F3643;
        }

        .full-height {
            height: 100%;
        }

        #map {
            height: 650px;
            width: 65%;
            margin-top: 30px;
            margin-bottom: 30px;
            zoom: 1;
            float: left;
            border-radius: 20px;
        }

        #btnUsluzi {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 20px;
            bottom: 7%;
            margin-left: -36%;
        }

        #userKartica {
            float: left;
            width: 20%;
            margin-left: 5%;
            margin-right: 6%;
            margin-top: 30px;
            margin-bottom: 30px;
            overflow-y: scroll;
            height: 650px;
        }

        .glavni {
            width: 100%;
            position: relative;
        }

        .stilKarticeHitno {
            border: 6px solid red;
        }

        /*     .blink_me {
          animation: blinker 1s linear infinite;
        }

        keyframes blinker {
          50% {
            opacity: 0;
          }
        }*/

        .stilKartice {
            height: fit-content();
            border-radius: 20px;
        }

        .userSlika {
            position: relative;
            padding-top: 20%;
            padding-left: 20%;
        }

        #btnShowRoute {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
        }

        .listaLijekova {
            border: 1px solid lightgrey;
            border-radius: 20px;
            list-style-type: none;
            padding: 0;
        }

        .stilForme {
            position: absolute;
        }

        .itemStil {
            border-bottom: 1px solid lightgrey;
            padding: 10px;
        }

        #userKartica::-webkit-scrollbar {
            display: none;
        }

        .dioSlikaButton {
        }

        .itemStil:last-of-type {
            border-bottom: none;
        }
    </style>
    <script src="https://kit.fontawesome.com/3874a11e93.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="row glavni">
        <div id="userKartica">
            @for (int i = 0; i < ViewBag.Patients.Count; i++)
            {
                if (ViewBag.Patients[i].Served) continue;
                <div class="card mb-3 stilKartice" id="kartica @i" style="max-width: 540px">
                    @{
                        if (ViewBag.Patients[i].Emergency)
                        {

                            <script>
                                document.getElementById("kartica @i").classList.add("stilKarticeHitno");
                            </script>
                        }

                    }
                    <div class="row g-0">
                        <div class="col-md-4 dioSlikaButton">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
                                 alt="..."
                                 class="img-fluid userSlika" />

                            <button id="btnShowRoute" type="button" class="btn btn-warning btn-md" onclick="showPatientRoute(document.getElementById('@i').value, @ViewBag.Patients[i].Id)">
                                <i class="fas fa-route fa-2x"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">@ViewBag.Patients[i].Name</h4>
                                <input type="hidden" id="@i" name="patient" value='@ViewBag.Patients[i].Location' />
                                <p class="card-text" id="adresa">@ViewBag.Patients[i].Location</p>
                                <ul class="listaLijekova">
                                    @for (int j = 0; j < ViewBag.Medicine.Count; j++)
                                    {
                                        for (int k = 0; k < ViewBag.LinkList.Count; k++)
                                        {
                                            if (ViewBag.LinkList[k].PatientId == ViewBag.Patients[i].Id &&
                                                ViewBag.LinkList[k].MedicineId == ViewBag.Medicine[j].Id)
                                            {
                                                <li class="itemStil">@ViewBag.Medicine[j].Name</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="map"></div>
        <form asp-controller="Volunteer" asp-action="ChangeStatus" method="post" id="forma">
            <input id="patientId" name="patientId" type="hidden" value="" />
            <button id="btnUsluzi" type="submit" class="btn btn-warning btn-lg">
                <i class="fas fa-people-carry fa-2x"></i>
                <h5>Usluži</h5>
            </button>
        </form>

        <!--Hidden fileds so I can send data-->


    </div>

    <script>
    var map, geocoder, trenutniId;
        var lokacija = {
            lat: 0,
            long: 0
        }

        function initMap() {
            document.getElementById("btnUsluzi").disabled = true;
            geocoder = new google.maps.Geocoder();
            // The location of Sarajevo
            var sarajevo = { lat: 43.8563, lng: 18.4131 };
            // The map, centered at Sarajevo
            map = new google.maps.Map(document.getElementById('map'), { zoom: 14, center: sarajevo });
        }

        function usluzi() {
            //console.log(trenutniId);
            document.getElementById("patientId").value = trenutniId;
            //console.log(document.getElementById("patientId").value);
            //document.forms.forma.submit();
            //document.getElementById("dugme").click();
        }

        function showPatientRoute(adresa, id) {
            removeRoute();
            document.getElementById("patientId").value = id;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    window.directionsService = new google.maps.DirectionsService();
                    window.directionsDisplay = new google.maps.DirectionsRenderer();

                    axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                        params: {
                            address: adresa,
                            key: 'AIzaSyBd7K5-Z6imkbJEje_G9aPqEL65uUiOFfc'
                        }
                    })
                        .then(function (response) {
                            lokacija2 = {
                                lat: 0,
                                long: 0
                            }
                            lokacija2.lat = response.data.results[0].geometry.location.lat;
                            lokacija2.long = response.data.results[0].geometry.location.lng;

                            lokacija = lokacija2;
                            var request;


                            console.log(lokacija);
                            request = {
                                origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                                destination: new google.maps.LatLng(lokacija.lat, lokacija.long),
                                travelMode: 'DRIVING'
                            }

                            directionsDisplay.setMap(map);
                            directionsService.route(request, (result, status) => {
                                if (status == 'OK') {
                                    directionsDisplay.setDirections(result);
                                }
                            });
                            document.getElementById("btnUsluzi").disabled = false;
                        })

                });
            }
        }

        function removeRoute() {
            if (window.directionsDisplay != null) {
                window.directionsDisplay.setDirections({ routes: [] });
            }


        }

        function distanceBetween(lat1, lon1, lat2, lon2) {
            const R = 6371e3;
            const fi1 = lat1 * Math.PI / 180;
            const fi2 = lat2 * Math.PI / 180;
            const deltaFi = (lat2 - lat1) * Math.PI / 180;
            const deltaLambda = (lon2 - lon1) * Math.PI / 180;
            const x = deltaLambda * Math.cos((fi1 + fi2) / 2);
            const y = deltaFi;
            return Math.sqrt(x * x + y * y) * R;
        }</script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd7K5-Z6imkbJEje_G9aPqEL65uUiOFfc&callback=initMap"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>